* {
  margin: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background: rgb(34, 52, 122);
  background: linear-gradient(90deg, rgba(34, 52, 122, 1) 0%, rgba(58, 101, 182, 1) 58%);
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}